{
    servers {
        listener_wrappers {
            layer4 {
                @signal tls sni {$SIGNAL_PROXY_DOMAIN}
                route @signal {
                    tls
                    subroute {
                        @signal-proxy {
                            # alternativly get specific hosts from: https://github.com/signalapp/Signal-TLS-Proxy/blob/main/data/nginx-relay/nginx.conf
                            tls sni "*.signal.org" "*.*.signal.org"
                        }
                        route @signal-proxy {
                            proxy {l4.tls.server_name}:443
                        }
                    }
                }
                route
            }
            tls
        }
    }
}

# this block is needed to enable automatic certificates
{$SIGNAL_PROXY_DOMAIN} {
    abort
}
